{
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2021
  },
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [
        ".ts"
      ]
    },
    "import/resolver": {
      "typescript": {
        "directory": "./tsconfig.json"
      }
    }
  },
  "rules": {
    "semi": 0,
    "function-paren-newline": [
      "error",
      "consistent"
    ],
    "indent": 0,
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "none",
        "tabWidth": 2,
        "useTabs": false,
        "semi": false,
        "bracketSpacing": true,
        "arrowParens": "always",
        "parser": "typescript",
        "endOfLine": "auto",
        "printWidth": 65
      }
    ]
  },
  "env": {
    "browser": true,
    "node": true,
    "amd": true
  }
}